<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:label="NoneTube"
		android:icon="@drawable/nonetube"
		android:roundIcon="@mipmap/nonetube"
		android:allowBackup="false"
		android:fullBackupContent="false"		
		android:debuggable="false"
		android:requestLegacyExternalStorage="false"
        android:extractNativeLibs="false"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
		
        <activity android:name=".ZeroActivity"
            android:exported="false"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:excludeFromRecents="true"/>

        <activity android:name=".MainActivity"
            android:exported="false"
			android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"/>

		<activity-alias
		android:name=".ActivityAlias" 
		android:exported="true"
        android:targetActivity=".MainActivity">
          <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity-alias>

         <service 
            android:name=".YTService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property 
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Background_WebView"/>
		</service>
		
    </application>
</manifest>
